version: "3"

services:
  app:
    image: ghcr.io/khanh29204/task_manager_be:latest
    container_name: task-manager-api
    ports:
      - "3000:3000"
    volumes:
      - ./uploads:/app/uploads
    env_file:
      - ./.env
    restart: unless-stopped
